html,body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#contenido{
	display: flex;
    flex-direction:column;

	height: 100%;
	width: 100%;
}

#header{
	width: 100%;
	height: 50px;
	background: url("img/title.png") no-repeat center center;	
	background-color: #DA6273;
}	

#mapa{
	width: 100%;
  	flex-grow: 1;
}

