
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Helvetica';
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {

	color: #f8b3bf;
	font-weight: 100;
	font-size: 1em;
	font-family: 'Helvetica', Arial, sans-serif;
}

a {

	text-decoration: none;
	outline: none;
}

footer{
	width: 100%;
	background: #d75e81;
	color: #fff;
	padding: 2em;
}

footer h5 {
	float: right;
}

.footer-icons {

line-height: 24px;
font-size: 11px;
background: #d75e81;
text-transform: uppercase;
z-index: 9999;
position: relative;
}



footer p {
	text-align: center;
}


.tiled-bg{
	overflow: hidden;

	margin: 0 auto;
	padding: 5% 0 10em 0;
	max-width: 1300px;
	height: 100%;
	padding-top: 5%;
	background: url("bg2.png");
}

.home-bg{
	overflow: hidden;

	margin: 0 auto;
	padding: 5% 0 10em 0;
	max-width: 1300px;
	height: 100%;
	padding-top: 5%;
	background: url("bg3.png");


}


.about-img{

background: #fdfbfe;
	margin-top: 3%;

	margin-right: 5%;
	float: right;
}

.about-img img{
	padding: 15px;
	margin: 0 auto;
}

.about{

	background: #fdfbfe;
	margin-top: 3%;

	margin-right: 5%;
	float: right;
	width:65%;
	text-align: justify;
	color:#d75e81;

}

.about p{

 width: 90%;
 margin-left: 5%;
 margin-top:5%;

}
.about h3{
	text-align: left;
	margin-top:3%;
	margin-bottom: 1%;

	font-weight: 400;
	font-size: 2em;
	line-height: 2.3;

}


.about  tr td {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 2.3;
}
.skills{
	margin-left: 5%;
	padding-bottom: 7%;
}

.icons-prefoot{


}
.icons-prefoot p{
	display: inline;
	text-align: center;
	padding-right: 7%;
	font-size: 1em;
	font-weight: 400;
	line-height: 2.3;
}
.a-icon a{
margin-left: 5%;
	padding-right: 10%;
	display: inline;

}


.logo-header{
	margin-top: 2%;
}


/* Harmony colours */
.harmony { background: #fdfbfe; }
.harmony a { color: #d75e81; }


a:hover, a:focus {
	color: #d75e81;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.harmony-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.harmony-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

.harmony-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

/* To Navigation Style */

.harmony-top {
line-height: 24px;
font-size: 11px;
background: #d75e81;
text-transform: uppercase;
z-index: 9999;
position: relative;
box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.footer-icons a, .harmony-top a {
padding: 7px 7px;
letter-spacing: 1px;
color: #fff;
display: inline-block;
}

.harmony-top a:hover {
background: rgba(204,51,102,0.8);
color: #d75e81;
}

.footer-icons span.right, .harmony-top span.right {
float: right;
}

.footer-icons span.right a, .harmony-top span.right a {
float: left;
display: block;
}

.harmony-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'Helvetica';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}



/* bunny Buttons Style */
.harmony-bunny {
	padding: 2em 0 1em;
	font-size: 0.8em;
	text-align: center;
}

.harmony-bunny a {
	display: inline-block;
	margin: 0.5em 0.75em;
	line-height: 1.5;
	color: #e5778b;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.harmony-bunny a.current-bunny {
	color: #f8b3bf;
}

.harmony-bunny a:hover{
 color: #af96da;
}

.skills table {
    width: 100%;
}

.skills table tr {
    height: 50px;
}

.skills table tr td {
    width: 1%;
}

.skills table tr td svg {
    position: relative;
    left: -55%;
    width: 100%;
    height: 25px;
}

@media screen and (max-width: 35em) {
	.harmony-icon span {
		display: none;
	}

}

@media screen and (max-width: 1000px) {
	.about-img img {

		width: 100%;
		height: 100%;
	}

@media screen and (min-width: 900px) {
	.about h3{
		width: 100%;
		text-align: left;

	}


}
